{% extends "view/rootpage.html" %}
{% block title %}Tournatrack{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1>Welcome to Tournatrack</h1>
  <p>In time, Tournatrack will be an <a href="https://github.com/sarrionandia/tournatrack/wiki/Introduction"> all-singing, all dancing tool to help run debating competitions</a>. Right now it only does room tracking, but features are going to be added each month. Next month: Pre-Registration Funsies!</p>
<a href="/tournaments" <a class="btn btn-primary btn-lg" role="button">Let's go manage some debating competitions!</a></p>
</div>

<p>

</p>
{% endblock %}