{% extends "view/rootpage.html" %}
{% block title %}Tournatrack{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1>Welcome to Tournatrack</h1>
  <p>In time, Tournatrack will be an <a href="https://github.com/sarrionandia/tournatrack/wiki/Introduction">
      all-singing, all dancing tool to help run debating competitions</a>. Right now, it handles pre-registration for
      tournaments and lets runners update the tab room electronically via QR codes.
  </p>

<a href="/tournaments" <a class="btn btn-primary btn-lg" role="button">Get in loser, we're going debating!</a></p>
</div>

<p>

</p>
{% endblock %}