{% extends "view/rootpage.html" %}
{% block title %}Institution List{% endblock %}	

{% block content %}
	<table>
		<tr>
			<th>Name</th>
			<th>Delete</th>
		</tr>
		{% for i in institutions %}
		<tr>
			<td>{{i.name}}</td>
			<td><a href="/del_i?t={{t.key.id()}}&i={{i.key.id()}}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
	
	<hr/>
	<h2>New Institution</h2>
	<form action="/institution?t={{t.key.id()}}" method="post">
		<div>Name: <input name="institution_name" /></div>
		<div><input type="submit" value="Add"></div>
	</form>
{% endblock %}
