{% extends "view/rootpage.html" %}
{% block title %}Modify Judge{% endblock %}

{% block content %}
	<h2><i class="fa fa-keyboard-o"></i> {{t.name}} Registration</h2>

	{% if user %}

	<div class="panel panel-success">
		<div class="panel panel-heading">
            <h2>Modify Judge</h2>
		</div>
		<div class="panel panel-body">

            {% if form.errors %}
			    <ul class="errors">
			        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
			            {% for error in field_errors %}
			                <li>{{ form[field_name].label }}: {{ error }}</li>
			            {% endfor %}
			        {% endfor %}
			    </ul>
			{% endif %}

            <form method="post" action="/mod/judge?j={{j}}">

                <h3>Contact Details</h3>
                {% if institution %}
                <p>
                    The contact details for this judge come from the institution that registered it:
                    {{institution.name}}
                </p>

                <div class="form-group col-md-6">
			    	<label for="name">Phone</label>
			    	{{form.phone(class="form-control", disabled="True")}}
			  	</div>

                {% else %}

                <div class="form-group col-md-6">
			    	<label for="phone">Phone</label>
			    	{{form.phone(class="form-control", placeholder="Phone Number")}}
			  	</div>

                {% endif %}

                <div class="form-group col-md-6">
			    	<label for="name">Name of Judge</label>
			    	{{form.name(class="form-control", placeholder="Name of Judge")}}
			  	</div>

				<div class="form-group col-md-12">
			    	<label for="name">Your judging CV</label>
			    	{{form.cv(class="form-control", placeholder="Don't be modest...", rows="5")}}
			  	</div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>

		</div>
	</div>

	{% else %}

		You need to <a href="{{login}}">sign in</a> with your Google account.

	{% endif %}


{% endblock %}
