{% extends "view/rootpage.html" %}
{% block title %}Your Profile{% endblock %}

{% block head_extra %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Tournament', 'Speaks'],
          {% for r in speaker_records | reverse %}
          {% if loop.index < 5 %}['{{r.tournament}}', {{r.averageSpeaks}}]{% if not loop.last%},{% endif %}{% endif %}
          {% endfor %}
        ]);

        var options = {
          title: 'Speaker Points Over Last 5 Tournaments',
          hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 50}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

{% endblock %}

{% block content %}
<div class="alert alert-info" role="alert">
  Your DebaterID is: {{user.key.id()}}
</div>

{% if empty %}

<h1>Speaking Achievements</h2>

<h2>Hey there, newbie.</h2>
<p>We can't give you any stats on your performance until you give us some data.
    Add some speaker records below and our team of lizards will start crunching the
    numbers.</p>
<a href="myProfile/addSpeakerRecord">
  <button type="button" class="btn btn-success">Add Speaker Record</button>
  </a>

{% else %}


<h2>Average Speaker Score: {{average_speaks}}</h2>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar"
   aria-valuenow="{{average_speaks}}" aria-valuemin="0" aria-valuemax="100" style="width: {{average_speaks}}%">
    <span class="sr-only">{{average_speaks}} Average</span>
  </div>
</div>

<div class="col-md-6">
  <h2>Broken at {{break_count}} Tournaments</h2>

  {% for break in breaks %}
  <div class="alert alert-success" role="alert">
    <i class="fa fa-star"></i>&nbsp; {{break.startDate}}: {{break.tournament}}
  </div>
  {% endfor %}

</div>

<div class="col-md-6">
  <h2>Won {{win_count}} Tournaments</h2>

  {% for win in wins %}
  <div class="alert alert-warning" role="alert">
    <i class="fa fa-trophy"></i>&nbsp; {{win.startDate}}: {{win.tournament}}
  </div>
  {% endfor %}


</div>

<div class="col-md-12" id="chart_div" style="width: 100%; height: 400px;"></div>

<div class="col-md-12" id="all_tournaments">
  <h2>The Gory Details</h2>

  <table class="table table-striped">
    <tr>
      <th>Tournament</th>
      <th>Team Name</th>
      <th>Team Rank</th>
      <th>Speaker Rank</th>
      <th>Average Speaks</th>
      <th>Delete</th>
    </tr>

    {% for r in speaker_records %}
    <tr>
      <td>{{r.tournament}}<br />{{r.startDate}}</td>
      <td>{{r.teamName}}</td>
      <td>{{r.teamRank}}</td>
      <td>{{r.speakerRank}}</td>
      <td>{{r.averageSpeaks}}</td>
      <td>
        <form action="/myProfile/deleteSpeakerRecord" method="post">
          <input type="hidden" name="record" value="{{r.key.urlsafe()}}"></input>
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

  <a href="myProfile/addSpeakerRecord">
    <button type="button" class="btn btn-success">Add Speaker Record</button>
    </a>
</div>
{% endif %}
{% endblock %}
