{% extends "view/rootpage.html" %}
{% block title %}{%if own_profile %}Your Profile{%else%}{{profile.full_name}} on Tournatrack{%endif%}{% endblock %}

{% block head_extra %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Tournament', 'Speaks'],
          {% for r in last_five | reverse %}
          {% if loop.index <= nGraph %}['{{r.tournament}}', {{r.averageSpeaks}}]{% if not loop.last%},{% endif %}{% endif %}
          {% endfor %}
        ]);

        var options = {
          title: 'Speaker Points Over Last {{nGraph}} Tournaments',
          hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 65}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
    function loadGraph() {

    var paramName = 'nGraph';
    var paramValue = $('#graphLimit').val();

    var url = window.location.href;
    if (url.indexOf(paramName + "=") >= 0)
    {
        var prefix = url.substring(0, url.indexOf(paramName));
        var suffix = url.substring(url.indexOf(paramName));
        suffix = suffix.substring(suffix.indexOf("=") + 1);
        suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
        url = prefix + paramName + "=" + paramValue + suffix;
    }
    else
    {
    if (url.indexOf("?") < 0)
        url += "?" + paramName + "=" + paramValue;
    else
        url += "&" + paramName + "=" + paramValue;
    }
    window.location.href = url;
  }
    </script>

{% endblock %}

{% block content %}

{% if own_profile %}
<div class="alert alert-info" role="alert">
  <p>
    Your DebaterID is: {{user.key.id()}}
  <p>
  <p>
    {% if user.public_profile %}
    Your profile is currently public and can be viewed by anyone who has
    <a href="/myProfile?d={{user.key.id()}}">this link</a>.
    {% else %}
    Your profile is currently private, only you can see it.
    {% endif %}
    You can change your privacy settings in your Profile Settings page.
  </p>
  <a href="/update_profile">
    <button type="button" class="btn btn-info">
      <i class="fa fa-gears"></i>&nbsp; Profile Settings
    </button>
  </a>

</div>
{% else %}
<h1>{{profile.full_name}}'s Debating CV</h1>

<a href='/myProfile'>
  <button class='btn btn-success' type="button"><i class="fa fa-paperclip"></i>&nbsp;Get your own Tournatrack Profile!</button>
</a>
{% endif %}

{% if empty %}

<h1>Speaking Achievements</h2>

<h2>Hey there, newbie.</h2>
<p>We can't give you any stats on your performance until you give us some data.
    Add some speaker records below and our team of lizards will start crunching the
    numbers.
</p>
<a href="myProfile/addSpeakerRecord">
  <button type="button" class="btn btn-success">Add Speaker Record</button>
  </a>

{% else %}


<h2>Average Speaker Score: {{average_speaks}}</h2>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar"
   aria-valuenow="{{average_speaks}}" aria-valuemin="0" aria-valuemax="100" style="width: {{average_speaks}}%">
    <span class="sr-only">{{average_speaks}} Average</span>
  </div>
</div>

<div class="col-md-6">
  <h2>Broken at {{break_count}} Tournaments</h2>

  {% for break in breaks %}
  <div class="alert alert-success" role="alert">
    <i class="fa fa-star"></i>&nbsp; {{break.startDate}}: {{break.tournament}}
    ({% if break.NoviceBreak %}Novice Break,{% endif %}
    {% if break.EFLBreak %}EFL Break,{% endif %}
    {% if break.ESLBreak %}ESL Break,{% endif %}
    {% if break.doubleoctofinalist %}Double-Octo Break,{% endif %}
    {% if break.octofinalist %}Octofinalist,{% endif %}
    {% if break.quarterfinalist %}Quarterfinalist,{% endif %}
    {% if break.semifinalist %}Semifinalist,{% endif %}
    {% if break.finalist %}Finalist,{% endif %})

  </div>
  {% endfor %}

</div>

<div class="col-md-6">
  <h2>Won {{win_count}} Tournaments</h2>

  {% if win_count < 1 %}
  <div class="media">
    <a class="pull-left">
      <img class="media-object" src="/style/img/dino.png" alt="DINOSAUR RAWWR"
      width="100" height="100">
    </a>
    <div class="media-body">
      <h4 class="media-heading">No wins yet...</h4>
      Waiting for the dinosaurs to retire.
    </div>
  </div>

  {% else %}

  {% for win in wins %}
  <div class="alert alert-warning" role="alert">
    <i class="fa fa-trophy"></i>&nbsp; {{win.startDate}}: {{win.tournament}}
    ({% if win.champion %}Open Break,{% endif %}
    {% if win.ESLChampion %}ESL Break,{% endif %}
    {% if win.EFLChampion %}EFL Break,{% endif %}
    {% if win.NoviceChampion %}Novice Break{% endif %})
  </div>
  {% endfor %}

  {% endif %}

</div>

<div class="col-md-12" id="chart_div" style="width: 100%; height: 400px;"></div>

<div class="col-md-12">
Show last <input type="text" id="graphLimit" size="3" value="{{nGraph}}"/> Tournaments <br />
<button type="button" onclick="loadGraph()" >Update Graph</button>
</div>

<div class="col-md-12" id="all_tournaments">
  <h2>The Gory Details</h2>

  <table class="table table-striped">
    <tr>
      <th>Tournament</th>
      <th>Team Rank</th>
      <th>Speaker Rank</th>
      <th>Average Speaks</th>
      {% if own_profile %}
      <th>Delete</th>
      {% endif %}
    </tr>

    {% for r in speaker_records %}
    <tr>
      <td>{{r.tournament}}<br />{{r.startDate}}</td>
      <td>{{r.teamRank}}</td>
      <td>{{r.speakerRank}}</td>
      <td>{{r.averageSpeaks}}</td>
      {% if own_profile %}
      <td>
        <form action="/myProfile/deleteSpeakerRecord" method="post">
          <input type="hidden" name="record" value="{{r.key.urlsafe()}}"></input>
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

{% if own_profile %}
  <a href="myProfile/addSpeakerRecord">
    <button type="button" class="btn btn-success">Add Speaker Record</button>
  </a>
{% endif %}
</div>
{% endif %}
{% endblock %}
