{% extends "view/rootpage.html" %}
{% block title %}Register for the {{t.name}}{% endblock %}
{% block content %}
	<h2><i class="fa fa-keyboard-o"></i> {{t.name}} Registration</h2>	
	
	
	{% if user %}
	
	{% if regd %}
	{% if isj %}
	<div class="alert alert-success">
		You have registered for this tournament as a judge.
		<br /><br />
		<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#chgregmod">Update Information</button>
		<button type="button" class="btn btn-danger"data-toggle="modal" data-target="#deregmod">Deregister</button>
	</div>
	
	<div class="modal fade" id="chgregmod" tabindex="-1" role="dialog" aria-labelledby="chgregmodaLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="chgregmodLabel"><a target="_blank" href="http://www.youtube.com/watch?v=pl3vxEudif8">Ch-Ch-Ch-Changes</a></h4>
	      </div>
			<form method="post" action="/reg/judge">
	
	      <div class="modal-body">
	        	<div class="form-group col-md-12">
			    	<label for="name">Your Name</label>
			    	<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required value="{{isj.name}}">
			  	</div>
			  
				<div class="form-group col-md-6">
			    	<label for="name">Your Email</label>
			    	<input type="email" name="email" class="form-control" id="email" placeholder="Email Address" required value="{{isj.email}}">
			  	</div>
			
				<div class="form-group col-md-6">
			    	<label for="name">Your Phone Number</label>
			    	<input type="tel" name="phone" class="form-control" id="phone" placeholder="Call me maybe" required value="{{isj.phone}}">
			  	</div>
			
				<div class="form-group col-md-12">
			    	<label for="name">Your judging CV</label>
			    	<textarea  name="cv" class="form-control" id="cv" placeholder="Don't be modest..." rows="5">{% if isj.cv %}{{isj.cv}}{%endif%}</textarea>
			  	</div>
			
	      </div>
	      <div class="modal-footer">
				<input type="hidden" name="t" value="{{t.key.id()}}" />
				<input type="hidden" name="r" value="{{r.key.id()}}" />
				<input type="hidden" name="j" value="{{isj.key.id()}}" />
	        	<button type="submit" class="btn btn-warning">Update Information</button>
			</form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<div class="modal fade" id="deregmod" tabindex="-1" role="dialog" aria-labelledby="deregmodLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="deregmodLabel">Are you quite sure that this is wise?</h4>
	      </div>
	      <div class="modal-body">
	        Once you deregister from a tournament, there is no guarantee that you will be able to re-register. Registration may have since
	 		closed, or filled up. But, if you're sure...
	      </div>
	      <div class="modal-footer">
			<form method="post" action="/dereg/judge">
				<input type="hidden" name="t" value="{{t.key.id()}}" />
				<input type="hidden" name="r" value="{{r.key.id()}}" />
				<input type="hidden" name="j" value="{{isj.key.id()}}" />
	        	<button type="submit" class="btn btn-danger">Deregister</button>
			</form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	{% endif %}
	
	{% if ist %}
	
	<div class="alert alert-success">
		You have registered for this tournament as an Open Team.
		<br /><br />
		<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#chgregmod">Update Information</button>
		<button type="button" class="btn btn-danger"data-toggle="modal" data-target="#deregmod">Deregister</button>
	</div>
	
	<div class="modal fade" id="chgregmod" tabindex="-1" role="dialog" aria-labelledby="chgregmodaLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="chgregmodLabel"><a target="_blank" href="http://www.youtube.com/watch?v=pl3vxEudif8">Ch-Ch-Ch-Changes</a></h4>
	      </div>
			<form method="post" action="/reg/team?t={{t.key.id()}}">
	
	      <div class="modal-body">
				<div class="form-group col-md-12">
			    	<label for="name">Lead Person's Name</label>
			    	{{form.leadName(class="form-control", placeholder="Who can we get in touch with?")}}
			  	</div>
				<div class="form-group col-md-6">
			    	<label for="email">Email</label>
					{{form.email(class="form-control", placeholder="Email Address")}}
			  	</div>
			
				<div class="form-group col-md-6">
			    	<label for="phone">Phone Number</label>
					{{form.phone(class="form-control", placeholder="Call me maybe")}}
			  	</div>
			
				<div class="form-group col-md-12">
			    	<label for="teamName">Your Team Name</label>
					{{form.teamName(class="form-control", placeholder="The best ones contain in-jokes")}}
			  	</div>
			
				<div class="well well-lg col-md-6">
					<h2><span class="glyphicon glyphicon-user "></span>&nbsp;Speaker 1</h2>
					<div class="form-group">
						<label for="sp1Name">Name</label>
						{{form.sp1Name(class="form-control")}}
					</div>
					<label class="col-md-3">
					    Novice? {{form.sp1Novice(class="form-control")}}
					</label>
					<label class="col-md-3">
					    ESL? {{form.sp1ESL(class="form-control")}}
					</label>
				</div>
				<div class="well well-lg col-md-6">
					<h2><span class="glyphicon glyphicon-user "></span>&nbsp;Speaker 2</h2>
					<div class="form-group">
						<label for="sp2Name">Name</label>
						{{form.sp2Name(class="form-control")}}
					</div>
					<label class="col-md-3">
					    Novice? {{form.sp2Novice(class="form-control")}}
					</label>
					<label class="col-md-3">
					    ESL? {{form.sp2ESL(class="form-control")}}
					</label>
					
				</div>
			
	      </div>
	      <div class="modal-footer">
				<input type="hidden" name="t" value="{{t.key.id()}}" />
				<input type="hidden" name="r" value="{{r.key.id()}}" />
				<input type="hidden" name="teamkey" value="{{ist.key.urlsafe()}}" />
	        	<button type="submit" class="btn btn-warning">Update Information</button>
			</form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<div class="modal fade" id="deregmod" tabindex="-1" role="dialog" aria-labelledby="deregmodLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="deregmodLabel">Are you quite sure that this is wise?</h4>
	      </div>
	      <div class="modal-body">
	        Once you deregister from a tournament, there is no guarantee that you will be able to re-register. Registration may have since
	 		closed, or filled up. But, if you're sure...
	      </div>
	      <div class="modal-footer">
			<form method="post" action="/dereg/team">
				<input type="hidden" name="t" value="{{t.key.id()}}" />
				<input type="hidden" name="r" value="{{r.key.id()}}" />
				<input type="hidden" name="team" value="{{ist.key.id()}}" />
	        	<button type="submit" class="btn btn-danger">Deregister</button>
			</form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	
	{% endif %}
	
	{% if isi %}
	
	<div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class=""><i class="fa fa-building-o"></i> {{isi.name}}</h3>
                </div>
                <div class="panel-body">
                	You have registered for this tournament as an Institution.
					<br /><br />
					<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#chgregmod">Update Contact Information</button>
					<button type="button" class="btn btn-danger"data-toggle="modal" data-target="#deregmod">Deregister</button>
					
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class=""><span class="glyphicon glyphicon-pencil"></span>
					Update Party.</h3>
                </div>
                <div class="panel-body">
                	Tell us who is coming
					<br /> <br />
					<button type="button" class="btn btn-info">Update Teams <span class="badge">{{iTeamCount}}</span></button>
					<button type="button" class="btn btn-info">Update Judges <span class="badge">{{iJudgeCount}}</span></button>
					
                </div>
            </div>
        </div>
    </div>

	<div class="modal fade" id="deregmod" tabindex="-1" role="dialog" aria-labelledby="deregmodLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="deregmodLabel">Are you quite sure that this is wise?</h4>
	      </div>
	      <div class="modal-body">
	        Deregistering will remove all of your teams and judges. If you just want to deregister some of them,
			use the update teams &amp; judges button on the right of this page. Once you deregister from a tournament, 
			there is no guarantee that you will be able to re-register. Registration may have since
	 		closed, or filled up. But, if you're sure...
	      </div>
	      <div class="modal-footer">
			<form method="post" action="/dereg/institution">
				<input type="hidden" name="institution" value="{{isi.key.urlsafe()}}" />
				<input type="hidden" name="t" value="{{t.key.id()}}" />
	        	<button type="submit" class="btn btn-danger">Deregister</button>
			</form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="chgregmod" tabindex="-1" role="dialog" aria-labelledby="chgregmodaLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="chgregmodLabel">
				<a target="_blank" href="http://www.youtube.com/watch?v=pl3vxEudif8">Ch-Ch-Ch-Changes</a>
			</h4>
	      </div>
			<form method="post" action="/reg/institution">
	
	      <div class="modal-body">
				<div class="alert alert-warning">
					<p>If you want to change who is coming, close this box and use the Update Party section to the right</p>
				</div>
				<div class="form-group col-md-12">
			    	<label for="name">Lead Person's Name</label>
			    	{{form.leadName(class="form-control", placeholder="Who can we get in touch with?")}}
			  	</div>
				<div class="form-group col-md-6">
			    	<label for="email">Email</label>
					{{form.email(class="form-control", placeholder="Email Address")}}
			  	</div>
			
				<div class="form-group col-md-6">
			    	<label for="phone">Phone Number</label>
					{{form.phone(class="form-control", placeholder="Call me maybe")}}
			  	</div>			
	      </div>
	      <div class="modal-footer">
				<input type="hidden" name="t" value="{{t.key.id()}}" />
				<input type="hidden" name="instkey" value="{{isi.key.urlsafe()}}" />
				<input type="hidden" name="name" value="{{isi.name}}" />
	        	<button type="submit" class="btn btn-warning">Update Information</button>
			</form>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	

	{% endif %}
	
	{% else %}
		
	{% if r.open %}
	<div class="panel panel-success">
		<div class="panel panel-heading">
			<ul class="nav nav-tabs">
			  <li><a href="/reg/institution?t={{t.key.id()}}"><i class="fa fa-building-o"></i> Institution</a></li>
			  <li><a href="/reg/judge?t={{t.key.id()}}"><i class="fa fa-gavel"></i> Independent Adjudicator</a></li>
			  <li><a href="/reg/team?t={{t.key.id()}}"><i class="fa fa-users"></i> Open Team</a></li>
			</ul>
		</div>
		<div class="panel panel-body">
			<p class="lead">
				Registration is currently open. Choose a registration type from the tabs above.
			</p>
		</div>
	</div>
		
	{% else %}
	<p>Sorry, registration for this tournament is currently closed.</p>
	{% endif %}
	
	{% endif %}
	
	
	{% else %}
	
		You need to <a href="{{login}}">sign in</a> with your Google account to register for this tournament.
	
	{% endif %}
	
		
{% endblock %}
