{% extends "view/rootpage.html" %}
{% block title %}Register for the {{t.name}}{% endblock %}
{% block content %}
	<h2><i class="fa fa-keyboard-o"></i> {{t.name}} Registration</h2>	
	
	{% if user %}
	
	{% if r.open %}
	<div class="panel panel-success">
		<div class="panel panel-heading">
			<ul class="nav nav-tabs">
			  <li><a href="#"><i class="fa fa-building-o"></i> Institution</a></li>
			  <li><a href="#"><i class="fa fa-gavel"></i> Independent Adjudicator</a></li>
			  <li><a href="#"><i class="fa fa-users"></i> Open Team</a></li>
			</ul>
		</div>
		<div class="panel panel-body">
			<p class="lead">Registration is currently open. Choose a registration type from the tabs above.</p>
		</div>
	</div>
	
	{% else %}
	<p>Sorry, registration for this tournament is currently closed</p>
	{% endif %}
	
	{% else %}
	
		You need to <a href="{{login}}">sign in</a> with your Google account to register for this tournament.
	
	{% endif %}
	
		
{% endblock %}
