{% extends "view/rootpage.html" %}
{% block title %}Pre-Registration Control{% endblock %}

{% block head_extra %}

<script>
$('#insttab a').click(function (e) {
  e.preventDefault()
})
$('#insttab a').tab('show')

$('#teamtab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$('#judgetab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})


</script>

{% endblock %}
{% block content %}
	<h2><i class="fa fa-keyboard-o"></i> Pre-Registration</h2>	
	
	{% if r.open %}		
		<div class="alert alert-success">
			<strong>Reg Link:</strong>
			<a href="/reg?t={{t.key.id()}}">
			 	http://tournatrack.appspot.com/reg?t={{t.key.id()}}
			</a>
			<br />
			<div class="btn-group">
			  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
			    Registration is Open <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="/toggle_pre_reg?t={{t.key.id()}}&o=0">Close Registration</a></li>
			  </ul>
			</div>
			
		</div>
	{% else %}
		<div class="btn-group">
		  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
		    Registration is Closed <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="/toggle_pre_reg?t={{t.key.id()}}&o=1">Open Registration</a></li>
		  </ul>
		</div>
		
	{% endif %}
	
	<h3>Who has registered</h3>
	<ul class="nav nav-tabs">
	  <li id="insttab" class="active"><a href="#inst" data-toggle="tab">Institutions</a></li>
	  <li id="judgetab"><a href="#judge" data-toggle="tab"><i class="fa fa-gavel"></i> Judges&nbsp;<span class="badge">{{jcount}}</span></a></li>
	  <li id="teamtab"><a href="#team" data-toggle="tab">Teams</a></li>
	</ul>
	
	<div class="tab-content">
	  <div class="tab-pane fade" id="inst">...</div>
	  <div class="tab-pane fade" id="judge">
	
		<div class="panel panel-default">
		  <div class="panel-heading">Judges</div>
		  <table class="table table-striped">
		    <tr>
				<th>Name</th>
				<th>Institution</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
			{% for j in ijudges %}
			<tr>
				<td>{{j.name}}&nbsp;{%if j.cv%}<a id="myLink" href="/judgecv?t={{t.key.id()}}&j={{j.key.id()}}" data-toggle="modal" data-target="#modal"><span class="badge">CV</span></a>{%endif%}</td>
				<td><emph>Independent</emph></td>
				<td>{{j.email}}</td>
				<td>{{j.phone}}</td>
			</tr>
			{% endfor %}
		  </table>
		</div>
	
	  </div>
	  <div class="tab-pane fade" id="team">...</div>
	</div>
	
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="modalTitle"></h4>
	      </div>
	      <div class="modal-body">
	        <p id="modalBody">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
{% endblock %}
