{% extends "view/rootpage.html" %}
{% block title %}Pre-Registration Control{% endblock %}

{% block head_extra %}

<script>
$( document ).ready(function() {
    $('.tooltip-act').tooltip();
});

</script>

{% endblock %}
{% block content %}
	<h2><i class="fa fa-keyboard-o"></i> Pre-Registration</h2>	
	
	{% if r.open %}		
		<div class="alert alert-success">
			<strong>Reg Link:</strong>
			<a href="/reg?t={{t.key.id()}}">
			 	http://tournatrack.appspot.com/reg?t={{t.key.id()}}
			</a>
			<br />
			<div class="btn-group">
			  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
			    Registration is Open <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li><a href="/toggle_pre_reg?t={{t.key.id()}}&o=0">Close Registration</a></li>
			  </ul>
			</div>
			
		</div>
	{% else %}
		<div class="btn-group">
		  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
		    Registration is Closed <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="/toggle_pre_reg?t={{t.key.id()}}&o=1">Open Registration</a></li>
		  </ul>
		</div>
		
	{% endif %}
	
	<h3>Who has registered</h3>
	<ul class="nav nav-tabs" id="tab">
	  <li id="insttab"><a href="#inst" data-toggle="tab">Institutions &nbsp;<span
			 class="badge">{{icount}}</span></a></li>
	  <li id="judgetab"><a href="#judge" data-toggle="tab"><i class="fa fa-gavel"></i> Judges&nbsp;<span
		 class="badge">{{jcount}}</span></a></li>
	  <li id="teamtab"><a href="#team" data-toggle="tab"><i class="fa fa-bullhorn"></i> Teams&nbsp;<span
		class="badge">{{tcount}}</span></a></li>
	</ul>
	
	<div class="tab-content">
	  <div class="tab-pane fade" id="inst">
	  	<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Teams</th>
				<th>Judges</th>
				<th>Contact</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
			{% for i in institutions %}
			<tr>
				<td>{{i.name}}</td>
				<td>{{i.teams().count(limit=1000)}}</td>
				<td>{{i.judges().count(limit=1000)}}</td>
				<td>{{i.leadName}}</td>
				<td>{{i.email}}</td>
				<td>{{i.phone}}</td>
			</tr>
			{% endfor %}
		</table>
	  </div>
	  <div class="tab-pane fade" id="judge">
	
		  <table class="table table-striped">
		    <tr>
				<th>Name</th>
				<th>Institution</th>
				<th>Email</th>
				<th>Phone</th>
                <th>Deregister</th>
			</tr>
			{% for j in ijudges %}
			<tr>
				<td>
                    {{j.name}}&nbsp;
                    {%if j.cv%}
                    <a id="myLink" href="/judgecv?t={{t.key.id()}}&j={{j.key.urlsafe()}}" data-toggle="modal"
                       data-target="#myModal">
                    <span class="badge">CV</span></a>
                    {%endif%}
                </td>
				<td><emph>Independent</emph></td>
				<td>{{j.email}}</td>
				<td>{{j.phone}}</td>
                <td>
                    <form method="post" action="/dereg/judge">
				        <input type="hidden" name="j_key" value="{{j.key.urlsafe()}}" />
	        	        <button type="submit" class="btn btn-danger">Deregister</button>
			        </form>
                </td>
			</tr>
			{% endfor %}

            {% for i in institutions %}

            {% for j in i.judges() %}
            <tr>
				<td>
                    {{j.name}}&nbsp;
                    {%if j.cv%}
                    <a id="myLink" href="/judgecv?t={{t.key.id()}}&j={{j.key.urlsafe()}}" data-toggle="modal"
                       data-target="#myModal">
                    <span class="badge">CV</span></a>
                    {%endif%}
                </td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phone}}</td>
                <td>
                    <form method="post" action="/dereg/judge">
				        <input type="hidden" name="j_key" value="{{j.key.urlsafe()}}" />
	        	        <button type="submit" class="btn btn-danger">Deregister</button>
			        </form>
                </td>
            </tr>
            {% endfor %}

            {% endfor %}

		  </table>
	
	  </div>
	  <div class="tab-pane fade" id="team">
	  	  <table class="table table-striped">
		    <tr>
				<th>Institution</th>
				<th>Name</th>
				<th>Contact</th>
				<th>Email</th>
				<th>Phone</th>
				<th colspan="2">Speaker 1</th>
				<th colspan="2">Speaker 2</th>
			</tr>
			{% for t in teams %}
			<tr>
				<td><emph>Independent</emph></td>
				<td>{{t.teamName}}</td>
				<td>{{t.leadName}}</td>
				<td>{{t.email}}</td>
				<td>{{t.phone}}</td>
				<td>
					{{t.sp1Name}}
				</td>
				<td>
					{% if t.sp1ESL %}
					<a href="#" class="tooltip-act" title="English as a Second Language" data-original-title="Tooltip">
					<i class="fa fa-globe"></i>
					</a>
					{% endif %}
					
					{% if t.sp1Novice %}
					<a href="#" class="tooltip-act" title="Novice Speaker" data-original-title="Tooltip">
					<i class="fa fa-certificate"></i>
					</a>
					{% endif %}
				</td>
				<td>
					{{t.sp2Name}}
				</td>
				<td>
					{% if t.sp2ESL %}
					<a href="#" class="tooltip-act" title="English as a Second Language" data-original-title="Tooltip">
					<i class="fa fa-globe" id="globe"></i>
					</a>
					{% endif %}
					{% if t.sp2Novice %}
					<a href="#" class="tooltip-act" title="Novice Speaker" data-original-title="Tooltip">
					<i class="fa fa-certificate"></i>
					</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}


            {% for i in institutions %}

            {% for t in i.teams() %}
            <tr>
              <td>{{i.name}}</td>
              <td>{{t.teamName}}</td>
              <td>{{i.leadName}}</td>
              <td>{{i.email}}</td>
              <td>{{i.phone}}</td>
              <td>{{t.sp1Name}}</td>
              <td>
					{% if t.sp1ESL %}
					<a href="#" class="tooltip-act" title="English as a Second Language" data-original-title="Tooltip">
					<i class="fa fa-globe"></i>
					</a>
					{% endif %}

					{% if t.sp1Novice %}
					<a href="#" class="tooltip-act" title="Novice Speaker" data-original-title="Tooltip">
					<i class="fa fa-certificate"></i>
					</a>
					{% endif %}
			</td>

              <td>{{t.sp2Name}}</td>
              <td>
					{% if t.sp2ESL %}
					<a href="#" class="tooltip-act" title="English as a Second Language" data-original-title="Tooltip">
					<i class="fa fa-globe" id="globe"></i>
					</a>
					{% endif %}
					{% if t.sp2Novice %}
					<a href="#" class="tooltip-act" title="Novice Speaker" data-original-title="Tooltip">
					<i class="fa fa-certificate"></i>
					</a>
					{% endif %}
			</td>

            </tr>
            {% endfor %}

            {% endfor %}
		  </table>
		
		
	  </div>
	</div>
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	</div><!-- /.modal -->
	
	<script>
	$('#myModal').on('hidden.bs.modal', function (e) {
	  $(this).removeData('bs.modal');
	})
	
	</script>
	
	
{% endblock %}
