{% extends "view/rootpage.html" %}
{% block title %}Register for the {{t.name}}{% endblock %}

{% block content %}
	<h2><i class="fa fa-keyboard-o"></i> {{t.name}} Registration</h2>	
	
	{% if user %}
	
	{% if r.open %}
	<div class="panel panel-success">
		<div class="panel panel-heading">
			<ul class="nav nav-tabs">
			  <li><a href="/reg/institution?t={{t.key.id()}}"><i class="fa fa-building-o"></i> Institution</a></li>
			  <li><a href="/reg/judge?t={{t.key.id()}}"><i class="fa fa-gavel"></i> Independent Adjudicator</a></li>
			  <li class="active"><a href="/reg/team?t={{t.key.id()}}"><i class="fa fa-users"></i> Open Team</a></li>
			</ul>
		</div>
		<div class="panel panel-body">
			
			<h3>Speak Now, or forever hold your peace.</h3>
			
			{% if form.errors %}
			    <ul class="errors">
			        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
			            {% for error in field_errors %}
			                <li>{{ form[field_name].label }}: {{ error }}</li>
			            {% endfor %}
			        {% endfor %}
			    </ul>
			{% endif %}
			
			<form role="form" action="/reg/team?t={{t.key.id()}}" method="post">
				
				<div class="form-group col-md-12">
			    	<label for="name">Lead Person's Name</label>
			    	{{form.leadName(class="form-control", placeholder="Who can we get in touch with?")}}
			  	</div>
			  
				<div class="form-group col-md-6">
			    	<label for="email">Email</label>
					{{form.email(class="form-control", placeholder="Email Address")}}
			  	</div>
			
				<div class="form-group col-md-6">
			    	<label for="phone">Phone Number</label>
					{{form.phone(class="form-control", placeholder="Call me maybe")}}
			  	</div>
			
				<div class="form-group col-md-12">
			    	<label for="teamName">Your Team Name</label>
					{{form.teamName(class="form-control", placeholder="The best ones contain in-jokes")}}
			  	</div>
			
				<div class="well well-lg col-md-6">
					<h2><span class="glyphicon glyphicon-user "></span>&nbsp;Speaker 1</h2>
					<div class="form-group">
						<label for="sp1Name">Name</label>
						{{form.sp1Name(class="form-control", value="Speaker 1")}}
					</div>
					<label class="col-md-3">
					    Novice? {{form.sp1Novice(class="form-control")}}
					</label>
					<label class="col-md-3">
					    ESL? {{form.sp1ESL(class="form-control")}}
					</label>
				</div>
				<div class="well well-lg col-md-6">
					<h2><span class="glyphicon glyphicon-user "></span>&nbsp;Speaker 2</h2>
					<div class="form-group">
						<label for="sp2Name">Name</label>
						{{form.sp2Name(class="form-control", value="Speaker 2")}}
					</div>
					<label class="col-md-3">
					    Novice? {{form.sp2Novice(class="form-control")}}
					</label>
					<label class="col-md-3">
					    ESL? {{form.sp2ESL(class="form-control")}}
					</label>
					
				</div>
				
			   	<button type="submit" class="btn btn-primary">Submit</button>
			
			</form>
			
		</div>
	</div>
	
	{% else %}
	<p>Sorry, registration for this tournament is currently closed</p>
	{% endif %}
	
	{% else %}
	
		You need to <a href="{{login}}">sign in</a> with your Google account to register for this tournament.
	
	{% endif %}
	
		
{% endblock %}
