{% extends "view/rootpage.html" %}
{% block title %}Register for the {{t.name}}{% endblock %}

{% block content %}
	<h2><i class="fa fa-keyboard-o"></i> {{t.name}} Registration</h2>

	{% if user %}

	{% if r.open %}
	<div class="panel panel-success">
		<div class="panel panel-heading">
			<ul class="nav nav-tabs">
			  <li><a href="/reg/institution?t={{t.key.id()}}"><i class="fa fa-building-o"></i> Institution</a></li>
			  <li><a href="/reg/judge?t={{t.key.id()}}"><i class="fa fa-gavel"></i> Independent Adjudicator</a></li>
			  <li class="active"><a href="/reg/team?t={{t.key.id()}}"><i class="fa fa-users"></i> Open Team</a></li>
			</ul>
		</div>
		<div class="panel panel-body">

			<h3>Speak Now, or forever hold your peace.</h3>

			{% if form.errors %}
			    <ul class="errors">
			        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
			            {% for error in field_errors %}
			                <li>{{ form[field_name].label }}: {{ error }}</li>
			            {% endfor %}
			        {% endfor %}
			    </ul>
			{% endif %}

			<form role="form" action="/reg/team?t={{t.key.id()}}" method="post">

<div class="alert alert-warning col-md-12">
					<h3>Are these your details?</h3>

					<p>
						The following information will be sent to the convenors of {{t.name}}. This information
					comes from your Tournatrack profile, you may change this information at any time in
					your <a href="/update_profile" target="_blank">profile settings</a>.
					</p>

					<div class="form-group col-md-12">
						<label for="name">Name</label>
						<input class="form-control" disabled value="{{user.full_name}}" />
					</div>

					<div class="form-group col-md-6">
						<label for="phone">Telephone Number</label>
						<input class="form-control" disabled value="{{user.phone}}" />
					</div>

					<div class="form-group col-md-6">
						<label for="phone">Email</label>
						<input class="form-control" disabled value="{{user.preferredEmail()}}" />
					</div>

				</div>

				<p>Once you have registered, your details will be sent to the convenors. You
					can add your team name and the names of the speakers later.
				</p>

				<div class="col-md-12">
			   	<button type="submit" class="btn btn-primary btn-lg">Register a Team</button>
				</div>
			</form>

		</div>
	</div>

	{% else %}
	<p>Sorry, registration for this tournament is currently closed</p>
	{% endif %}

	{% else %}

		You need to <a href="{{login}}">sign in</a> with your Google account to register for this tournament.

	{% endif %}


{% endblock %}
