{% extends "view/rootpage.html" %}
{% block title %}Rooms{% endblock %}
{% block head_extra %}
<script>
function newRoom(){
    name = $('#field_name').val();

    var roomnames = [];
    $('.roomname').each(function() {roomnames.push($(this).text())});
    if (roomnames.indexOf(name) > -1) {
        isUnique = false;
        alert("That room already exists");
        return false;
    }

    else if (name.length < 1) {
        return false;
    }

	else
	{
	$.post( '/room?t={{t.key.id()}}', $('form#roomform').serialize(), function(data, status) {
		arg_string = "t={{t.key.id()}}&r=" + data.id;
		$("#roomtable > tbody").append("<tr><td class=\"roomname\">" + data.name + "</td><td><a href='toggle_room?" + arg_string + "'>Deactivate</a></td><td><a href='/del_r?" + arg_string + "'>Delete</a></td></tr>");
		$('#field_name').val('');
	       },
	       'json' //expect a JSON response
	    );
	return false;
}
}
</script>
{% endblock %}

{% block content %}
	<h2></i><i class="fa fa-gavel"></i> Rooms</h2>
	<div class="panel panel-primary">
	<div class="panel-heading">Rooms</div>
	<div class="panel-body">
	<table id="roomtable" class="table">
		<tr>
			<th>Name</th>
			<th>Modify</th>
			<th>Delete</th>
		</tr>
		{% for r in rooms %}
		<tr id="{{t.key.id()}}">
			<td class="roomname">{{r.name}}</td>
			<td><a href="/toggle_room?t={{t.key.id()}}&r={{r.key.id()}}">{% if r.active %}Deactivate{% else %}Activate{%endif%}</a></td>
			<td><a href="/del_r?t={{t.key.id()}}&r={{r.key.id()}}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div class="table-footer">
		
	</div>
	<form id="roomform" onsubmit="return newRoom()">
    <div class="input-group">
      <input type="text" name="room_name" id="field_name" class="form-control" placeholder="Room Name">
      <span class="input-group-btn">

        <button class="btn btn-success" id="btn_add" type="button" onclick="newRoom()"><i class="fa fa-plus"></i> Add Room</button>
      </span>
    </div><!-- /input-group -->
  </form>
  
	</div>
	
{% endblock %}
