<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/style/t.css" />
	<link href='http://fonts.googleapis.com/css?family=Prosto+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	{% block head_extra %}
	{% endblock %}
	
</head>
<body>

<div id="headerbox">
	<h1 id="Title">Tournatrack - Debate Organisation Software</h1>
</div>

<div id="content">
	{% block content %}
	{% endblock %}
</div>


</body>
</html>
 {% endautoescape %}