{% extends "view/rootpage.html" %}
{% block title %}Tournament List{% endblock %}

{% block head_extra %}
<script>
	function DeleteTournament(t)
	{
		// Disable the button
		$('#' + t + ' .tournament_row button').prop('disabled', true)
		
		// Call the deletion URL
		$.get("delete_tournament?t="  + t, function(data, status) {
			$('#' + t).remove();
		});
	}
</script>
{% endblock %}

{% block content %}
<h2>Welcome to Tournatrack</h2>
	<div class="panel panel-primary">
		<div class="panel-heading">Your Tournaments</div>
		<table class="table table-striped">
			<tr>
				<th>Tournament</th>
				<th>Start</th>
				<th>End</th>
				<th>Delete</th>
		{% for t in tournaments %}
			<tr id="{{t.key.id()}}">
				<div class="tournament_row">
					<td>
						<a href="/tournament_instance?t_key={{t.key.id()}}">{{t.name}}</a>
					</td>
					<td>{{t.start}}</td>
					<td>{{t.end}}</td>
					<td>
					<div class="btn-group">
				  		<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
				    		Delete <span class="caret"></span>
				  		</button>
				  		<ul class="dropdown-menu" role="menu">
				    		<li> There's no going back...</li>
				    		<li class="divider"></li>
				    		<li><a href="#" onclick="DeleteTournament({{t.key.id()}})">Permanently Delete Tournament</a></li>
				  		</ul>
					</div>
					</td>
				</div>
			</tr>
		{% endfor %}
		</table>
	</div>
	<!-- Button trigger modal -->
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
	  Create New Tournament
	</button>


	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel"><a href="http://www.youtube.com/watch?v=jfKe0weme68" target="_blank">Tell us about it, Janet</a></h4>
	      </div>
		<form method="post" action="/tournaments" class="form-horizontal" role="form">
	      <div class="modal-body">
	          <div class="form-group">
			    <label for="name" class="col-sm-2 control-label">Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="name" placeholder="Tournament Name" name="name">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="start" class="col-sm-2 control-label">Starts on</label>
			    <div class="col-sm-10">
			      <input type="date" class="form-control" id="start" name="start">
			    </div>
			  </div>
	          <div class="form-group">
			    <label for="end" class="col-sm-2 control-label">Ends on</label>
			    <div class="col-sm-10">
			      <input type="date" class="form-control" id="end" name="end">
			    </div>
			  </div>
			
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Create Tournament</button>
	      </div>
		</form>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	
{% endblock %}