{% extends "view/rootpage.html" %}
{% block title %}{{t.name}}{% endblock %}

{% block content %}
  <h1>{{t.name}}</h1>

  <div class="col-md-6">
    <h3>Tournament Details </h3>
    <p>
      Add some general information about your tournament. This will be visible
      to everybody.
    </p>

		{% if form.errors %}
		<ul class="errors">
		{% for field_name, field_errors in form.errors|dictsort if field_errors %}
					{% for error in field_errors %}
							<li>{{ form[field_name].label }}: {{ error }}</li>
					{% endfor %}
		{% endfor %}
		</ul>
		{% endif %}

		<form role="form" action="/tournament_instance/update_info?t_key={{t.key.id()}}" method="post">

			<div class="form-group">
				<label for="name">Contact Email Address</label>
				{{form.email(class="form-control", placeholder="e.g. convenor@reallycooltournament.com")}}
			</div>

			<div class="form-group">
				<label for="name">Link to Website</label>
				{{form.homepage(class="form-control", placeholder="e.g. http://www.reallycooltournament.com")}}
			</div>

			<div class="form-group">
				<label for="name">Link to Facebook Event / Page</label>
				{{form.facebook(class="form-control", placeholder="e.g. http://www.facebook.com/events/xxxxxxxx")}}
			</div>

			<div class="form-group">
				<label for="name">Description of Tournament</label>
				{{form.blurb(class="form-control", placeholder="Location, CA Team, Registration Fee, etc.", rows="8")}}
			</div>

			<button type="submit" class="btn btn-success">Save Information</button>
    </form>

  </div>

  <div class="col-md-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        {{t.name}} on Tournatrack
      </div>
      <div class="panel-body">
        <p>
          This is your control panel for {{t.name}}. The options along the
          top of the page will let you manage various aspects of your tournament.
        </p>

        <p>Any information you add on the left of this page will be displayed on
          your public Tournament Hub. The Tournament Hub is a page that anybody can see,
          they can get information about your tournament, register for your tournament,
           find your Facebook event and your homepage,
          and add the tournament to their calendar.
        </p>

        <p>
          <b>Link to public hub:</b> <a href='/hub?t={{t.key.id()}}'>http://tournatrack.com/hub?t={{t.key.id()}}</a>
        </p>
      </div>
    </div>
  </div>

{% endblock %}
