{% extends "view/rootpage.html" %}
{% block title %}{{t.name}}{% endblock %}

{% block content %}
	<h2>{{t.name}}</h2>
	<h3>Tracking</h3>
	<ul>
		<li><a href="/trackgrid?t={{t.key.id()}}">View Tracking Grid</a></i>
		<li><a href="/trackpin?t={{t.key.id()}}">Set tracking PIN</a></li>
		<li><a href="/trackurls?t={{t.key.id()}}">Generate runner URLs</a></li>
	</ul>
	
	<hr />
	<h2>Modify Data</h2>
	<ul>
		<li><a href="/institution?t={{t.key.id()}}">Manage Institutions</a></li>
		<li><a href="/room?t={{t.key.id()}}">Manage Rooms</a></li>
	</ul>
{% endblock %}
