{% extends "view/rootpage.html" %}
{% block title %}New Tournament{% endblock %}

{% block content %}
	<h2>It's all in the name.</h2>
<p>Okay, so it's really not, but hey, you try coming up with things to make this part interesting.</p>
<form method="post" target="/new_tournament">
  <div class="col-lg">
    <div class="input-group">
      <input type="text" input name="tournament_name" class="form-control" placeholder="Tournament Name">
      <span class="input-group-btn">
      
        <button class="btn btn-primary" type="submit">Create Tournament</button>
	
	
{% endblock %}