{% extends "view/rootpage.html" %}
{% block title %}Tournament List{% endblock %}
{% block content %}
    <p>Hello <emph>{{user.nickname()}}</emph></p>
    <hr>

	<div class="panel panel-primary">
		<div class="panel-heading">Your Tournaments</div>
		<ul class="list-group">
		{% for t in tournaments %}
			<li><a href="/tournament_instance?t_key={{t.key.id()}}">{{t.name}}</a></li>
		{% endfor %}
		</ul>
	</div>
	<hr />
	
	<ul>
		<li><a href="/new_tournament">Make a new tournament</a></li>
	</ul>
{% endblock %}