{% extends "view/rootpage.html" %}
{% block title %}Export to Tournaman{% endblock %}


{% block content %}
  <h2><i class="fa fa-list-ol"></i> Tabbing: Tournaman</h2>

    <div class="col-md-12">
        <h2>Export to Tournaman</h2>
        <p>
            Tournaman lets you import registration data from spreadsheets. Here
            you can generate spreadsheets in the format Tournaman expects, these
            can be copied and pasted into Tournaman to save your friendly
            tabmaster some time.
        </p>

        <a href="/tab/tournaman/teams.csv?t={{t.key.id()}}">
          <btn class="btn btn-info">
            <i class="fa fa-download"></i> Teams
          </btn>
        </a>
        <a href="/tab/tournaman/judges.csv?t={{t.key.id()}}">
          <btn class="btn btn-info">
            <i class="fa fa-download"></i> Judges
          </btn>
        </a>

    </div>



{% endblock %}
