{% extends "view/rootpage.html" %}
{% block title %}Tracking Grid{% endblock %}

{% block head_extra %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

function request_table() {
	$.get("trackgrid?t={{t.key.id()}}&raw=1",function(data, status) {
		$('#grid').html(data);
	});
}

$(document).ready(request_table());
</script>
{% endblock %}

{% block content %}

    <p>Hello <emph>{{user.nickname()}}</emph></p>
    <hr>
	<h1>{{t.name}}</h1>	
	<div class="panel panel-default">
	<div class="panel-heading">Rooms</div>
		<div id="grid" class="panel-body">
		</div>
	</div>
	<hr/>
	<h2>Control Panel</h2>
	<ul>
		<li><a href="/reset_rooms?t={{t.key.id()}}">Reset All Room Status</a></li>
	</ul>
{% endblock %}
