{% extends "view/rootpage.html" %}
{% block title %}Tracking Grid{% endblock %}


{% block content %}
    <p>Hello <emph>{{user.nickname()}}</emph></p>
    <hr>
	<h1>{{t.name}}</h1>
	<h2>Rooms</h2>
	
	<table>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>Comment</th>
			<th>Last Updated</th>
		</tr>
		{% for r in rooms %}
		{% if r.active %}
		<tr>
			<td>{{r.name}}</td>
			<td>{% if r.status %}{{r.status}}{% endif %}</td>
			<td>{% if r.comment %}{{r.comment}}{% endif %}</td>
			<td>{% if r.changed %}{{r.changed}}{% endif %}</td>
		</tr>
		{% endif %}
		{% endfor %}
	</table>
	
	<hr/>
	<h2>Control Panel</h2>
	<ul>
		<li><a href="/reset_rooms?t={{t.key.id()}}">Reset All Room Status</a></li>
	</ul>
{% endblock %}
