{% extends "view/rootpage.html" %}
{% block title %}Tracking PIN{% endblock %}

{% block content %}
    <p>Hello <emph>{{user.nickname()}}</emph></p>
    <hr>
	<h1>{{t.name}} - Tracking PIN</h1>
	
	<p>
		When runners update the status of rooms, they do so via links/QR codes unique to your competition. These are made unique by reference to the Tracking PIN, which works a bit like a tournament password.
		
		Anybody with access to the unique URLs / QR codes can modify the status of rooms, so if one of your runners has gotten into the yucca early, you can change the Tracking PIN.
		Note that changing the tracking PIN will obviously require you to redistribute QR Codes / URLs. 
	</p>
	
	<p><b>Your current tracking pin is: {{t.trackpin}}</b></p>
	<hr/>
	<h2>Change PIN</h2>
	<form action="/trackpin?t={{t.key.id()}}" method="post">
		<div>New PIN: <input name="pin" /></div>
		<div><input type="submit" value="Change PIN" /></div>
	</form>
{% endblock %}
