{% extends "view/rootpage.html" %}
{% block title %}Runner Links{% endblock %}

{% block content %}
	<h2><i class="fa fa-link"></i> Runner Links</h2>
	
	<p>
		These links are based on your current Tracking Password, and should be used by runners to access the controls for each room. Runners can use these controls to inform the convenor and tabmaster about the status of their rooms.
	
	</p>
	
	{% for r in rooms %}
	<div class="panel panel-default">
	<div class="panel-heading">{{r.name}}</div>
	<div class="panel-body">
		<img src="http://chart.apis.google.com/chart?chs=200x200&cht=qr&chld=|1&chl=http%3A%2F%2Ftournatrack.appspot.com%2Ftrackpanel%3Ft%3D{{t.key.id()}}%26p%3D{{t.trackpin}}%26r%3D{{r.key.id()}}"/>
	</div>
	<div class="panel-footer">
		<a href="/trackpanel?t={{t.key.id()}}&p={{t.trackpin}}&r={{r.key.id()}}">
			http://tournatrack.appspot.com/trackpanel?t={{t.key.id()}}&p={{t.trackpin}}&r={{r.key.id()}}
		</a>
	</div>
	</div>
	{% endfor %}
{% endblock %}