{% extends "view/rootpage.html" %}
{% block title %}Tracking Grid{% endblock %}
{% block head_extra %}
<script>

function request_table() {
	$.get("trackgrid?t={{t.key.id()}}&raw=1",function(data, status) {
		$('#grid').html(data);
	});
}

$(document).ready(function () {
	request_table();
	setInterval("request_table()", 5000);
});

function roomclick(rid, name, status, comment)
{
	$('#myModalLabel').text(name);
	$('#roomstatus option[value="'+status+'"]').prop('selected',true);
	$('#roomcomment').val(comment);
	$('#roomid').attr("value", rid);
	$('#myModal').modal();
}

</script>
{% endblock %}

{% block content %}
	<h2><i class="fa fa-table"></i> Tracking Grid</h2> 
	<div class="panel panel-primary">
	<div class="panel-heading">Rooms</div>
		<div id="grid" class="panel-body">
			Loading...
		</div>
	</div>

    <a href="/custom_room_status?t={{t.key.id()}}"button type="button"
       class="btn btn-success">Set Up Custom Statuses</button></a>

    <a href="/reset_rooms?t={{t.key.id()}}"button type="button"
       class="btn btn-primary">Reset All Room Status</button></a>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
	      </div>
		<form method="post" action="/trackgrid?t={{t.key.id()}}">
	      <div class="modal-body">
			<label class="control-label">Status</label>
			<select class="form-control" id="roomstatus" name="status">
				<option value="Debating">Debate Started</option>
				<option value="Judging">Judging Started</option>
				<option value="Feedback">Feedback Started</option>
				<option value="Problem">Problem: Send help</option>
            {% for s in t.customRoomStatus %}
                <option value="{{s}}">{{s}}</option>
            {% endfor %}
			</select>
			
			<label class="control-label">Comment</label>
			<input type="hidden" id="roomid" name="r" value=""/>
			<input type="text" id="roomcomment" name="comment" class="form-control" placeholder="Optional"/>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
	</form>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
{% endblock %}
