{% extends "view/rootpage.html" %}
{% block title %}Runner URLs{% endblock %}

{% block content %}
    <p>Hello <emph>{{user.nickname()}}</emph></p>
    <hr>
	<h1>{{t.name}}</h1>
	<h2>Runner URLs</h2>
	
	<p>
		These URLs are based on your current tracking PIN, and should be used by runners to access the controls for each room. Runners can use these controls to inform the convenor and tabmaster about the status of their rooms.
	
	</p>
	
	{% for r in rooms %}
	<div class="TrackerURL">
	<h3>{{r.name}}</h3>
	<div class="qr">
		<img src="http://chart.apis.google.com/chart?chs=200x200&cht=qr&chld=|1&chl=http%3A%2F%2Ftournatrack.appspot.com%2Ftrackpanel%3Ft%3D{{t.key.id()}}%26p%3D{{t.trackpin}}%26r%3D{{r.key.id()}}"/>
	</div>
	<a href="http://tournatrack.appspot.com/trackpanel?t={{t.key.id()}}&p={{t.trackpin}}&r={{r.key.id()}}">
		http://tournatrack.appspot.com/trackpanel?t={{t.key.id()}}&p={{t.trackpin}}&r={{r.key.id()}}
	</a>
	</div>
	{% endfor %}
{% endblock %}