{% extends "view/rootpage.html" %}
{% block title %}Update Registration for the {{t.name}}{% endblock %}

{% block content %}

    <script>

    function post_to_url(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}

    </script>
	<h2><i class="fa fa-keyboard-o"></i> {{t.name}} Judge Registration</h2>	
	
	{% if user %}
	
	<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class=""><i class="fa fa-building-o"></i> {{isi.name}}</h3>
    	</div>

		<table class="table table-hover">
			<tr>
				<th>
					Name
				</th>
				<th>
					CV
				</th>
				<th>
					Delete
				</th>
			</tr>
			
			{% for j in judges %}
			<form method="post" action="updatejudges?t={{t.key.id()}}">
			<tr>
				<td>
					<input type="text" class="form-control" name="{{j.key.id()}}_n" placeholder="Judge's Name" value="{{j.name}}" />
				</td>
				<td>
					<textarea class="form-control" rows="3" name="{{j.key.id()}}_c">
						{% if j.cv %}{{j.cv}}{% endif %}
					</textarea>
				</td>
				<td>
	        	    <button type="button" onclick="post_to_url('/dereg/judge', {'j_key':'{{j.key.urlsafe()}}'})"
                            class="btn btn-danger">Deregister</button>
				</td>
			<tr>
			{% endfor %}
			
		</table>
		
		<div class="panel-footer">
			<input type="hidden" name="reg_key" value="{{reg_key}}" />
			<input type="hidden" name="updating" value="j"/>
			<a href="/reg?t={{t.key.id()}}">
				<button type="button" class="btn btn-warning">Cancel</button>
			</a>
            <a href="/add_to_reg?t={{t.key.id()}}&type=j">
            	<button type="button" class="btn btn-info" {% if not r.open %}disabled="True">{% endif %}>Add Another Judge</button>
            </a>

			<button type="submit" class="btn btn-success">Save changes</button>
		</div>
		</form>

	</div>
    
	
	
	{% else %}
	
		You need to <a href="{{login}}">sign in</a> with your Google account to register for this tournament.
	
	{% endif %}
	
		
{% endblock %}
