{% extends "view/rootpage.html" %}
{% block title %}Speaker Details for {{t.name}}{% endblock %}

{% block head_extra %}

<script type="text/javascript">

$(document).ready(function () {
	jQuery("#link1").click(function(){
		bind1('1');
	});

	jQuery("#link2").click(function(){
		bind1('2');
	});


	jQuery("#useMe1").click(function(){
		$('#sp1Key').val('{{user.key.id()}}');
		bind1('1');
	});

	jQuery("#clear1").click(function(){
		clear1('1');
	});

	jQuery("#clear2").click(function(){
		clear1('2');
	});

});

function bind1(spk) {
	var id = $('#sp' + spk + 'Key').val();

	$('#sp' + spk + 'Key').prop('readonly', true);
	$('#useMe' + spk).prop('readonly', true);
	$('#link' + spk).prop('readonly', true);


	$.get("../checkID?id=" + id, function(data, status){

		var d = JSON.parse(data);
		problem = d['problem'];

		if (problem == 'None') {
			$('#link' + spk + 'error').prop('hidden', true);
			$('#sp' + spk + 'Name').prop('readonly', true);
			$('#sp' + spk + 'Name').val(d['name']);

			$('#useMe' + spk).hide();
			$('#link' + spk).hide();
			$('#clear' + spk).show();

			$('#link' + spk + 'Success').show();
		}

		else {
			$('#sp' + spk + 'Key').prop('readonly', false);
			$('#useMe' + spk).prop('readonly', false);
			$('#link' + spk).prop('readonly', false);

			$('#link' + spk + 'error').text(problem);
			$('#link' + spk + 'error').prop('hidden', false);
		}

		});
}

function clear1(spk){
	$('#link' + spk + 'Success').hide();
	$('#sp' + spk + 'Key').prop('readonly', false);
	$('#useMe' + spk).prop('readonly', false);
	$('#link' + spk).prop('readonly', false);
	$('#sp' + spk + 'Name').prop('readonly', false);
	$('#sp' + spk + 'Name').val('');
	$('#sp' + spk + 'Key').val('');
	$('#clear' + spk).hide();
	$('#useMe' + spk).show();
	$('#link' + spk).show();
}
</script>

{% endblock %}

{% block content %}
	<h2><i class="fa fa-keyboard-o"></i> Update Speaker Details</h2>

	{% if user %}

			{% if form.errors %}
			    <ul class="errors">
			        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
			            {% for error in field_errors %}
			                <li>{{ form[field_name].label }}: {{ error }}</li>
			            {% endfor %}
			        {% endfor %}
			    </ul>
			{% endif %}

			<form role="form" action="/reg/update_open_details?t={{t.key.id()}}" method="post">
				<input type="hidden" name="team" value="{{ist.key.urlsafe()}}" />

<div class="alert alert-warning col-md-12">
					<h3>Contact Information</h3>

					<p>
						This information is visible to the organisers of of {{t.name}}. It comes
						from your Tournatrack profile, you may change this information at any time in
					your <a href="/update_profile" target="_blank">profile settings</a>.
					</p>

					<div class="form-group col-md-12">
						<label for="name">Name</label>
						<input class="form-control" disabled value="{{user.full_name}}" />
					</div>

					<div class="form-group col-md-6">
						<label for="phone">Telephone Number</label>
						<input class="form-control" disabled value="{{user.phone}}" />
					</div>

					<div class="form-group col-md-6">
						<label for="phone">Email</label>
						<input class="form-control" disabled value="{{user.preferredEmail()}}" />
					</div>

				</div>

				<div class="form-group col-md-12">
						<label for="teamName">Your Team Name</label>
					{{form.teamName(class="form-control", placeholder="The best ones contain in-jokes")}}
				</div>

						<h3>Speaker Details</h3>
						<p>
							For each speaker you must provide either their name, or their
							Tournatrack DebaterID. If you use their DebaterID, this tournament
							will be linked to their account, and  they will receive updates from
							the tournament convenors. You can find your DebaterID at the top of your
							Debater CV.
						</p>


					<div class="panel panel-default">

						<div class="panel-heading">
							<span class="glyphicon glyphicon-user "></span>&nbsp;Speaker 1
						</div>

						<div class="panel-body">

							<div class="col-sm-6">
								<h3>Link DebaterID</h3>
								<p>Automatically link a Tournatrack user to this speaker. It will be
								visible in their account.</p>

								<div class="alert alert-danger" id="link1error" hidden="true">

								</div>
								{% if ist.sp1Key %}
								{{form.sp1Key(class="form-control", id="sp1Key", placeholder="e.g 1721287", readonly="true")}}
								<div class="alert alert-success" id="link1Success" style="display: none;">
									The DebaterID was successfully linked. Save your changes below.
								</div>
								<button class="btn btn-info" type="button" id="link1" style="display: none;">Link DebaterID</button>
								<button class="btn btn-info" type="button" id="useMe1" style="display: none;">Use My DebaterID</button>
								<button class="btn btn-danger" type="button" id="clear1">Unlink DebaterID</button>
								{% else %}
								{{form.sp1Key(class="form-control", id="sp1Key", placeholder="e.g 1721287")}}
								<div class="alert alert-success" id="link1Success" style="display: none;">
									The DebaterID was successfully linked. Save your changes below.
								</div>
								<button class="btn btn-info" type="button" id="link1">Link DebaterID</button>
								<button class="btn btn-info" type="button" id="useMe1">Use My DebaterID</button>
								<button class="btn btn-danger" type="button" id="clear1" style="display: none;">Unlink DebaterID</button>
								{% endif %}
							</div>

							<div class="col-sm-6">
								<h3>Manual Entry</h3>
								<p>Or: Manually provide the details of a speaker. They will not receive
									updates about the tournament.
								</p>

								<div class="form-group">
									<label for="sp1Name">Full Name</label>
									{% if ist.sp1Key %}
									{{form.sp1Name(class="form-control", id="sp1Name", placeholder="Speaker 1", readonly="true")}}
									{% else %}
									{{form.sp1Name(class="form-control", id="sp1Name", placeholder="Speaker 1")}}
									{%endif%}
								</div>

							</div>
					</div>

					<div class="panel-footer" style="padding-bottom: 2em;">
						<div class="form-group">
							<div class="col-sm-2">
								<div class="checkbox">
									<label>
										{{form.sp1Novice()}} Novice
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label>
										{{form.sp1ESL()}} ESL
									</label>
								</div>
							</div>
						</div>
					</div>

				</div>

<div class="panel panel-default">

	<div class="panel-heading">
		<span class="glyphicon glyphicon-user "></span>&nbsp;Speaker 2
	</div>

	<div class="panel-body">

		<div class="col-sm-6">
			<h3>Link DebaterID</h3>
			<p>Automatically link a Tournatrack user to this speaker. It will be
			visible in their account.</p>

			<div class="alert alert-danger" id="link2error" hidden="true">

			</div>
			{% if ist.sp2Key %}
			{{form.sp2Key(class="form-control", id="sp2Key", placeholder="e.g 1721287", readonly="true")}}
			<button class="btn btn-info" type="button" id="link2" style="display: none;">Link DebaterID</button>
			<button class="btn btn-danger" type="button" id="clear2">Unlink DebaterID</button>
			{% else %}
			{{form.sp2Key(class="form-control", id="sp2Key", placeholder="e.g 1721287")}}
			<button class="btn btn-info" type="button" id="link2">Link DebaterID</button>
			<button class="btn btn-danger" type="button" id="clear2" style="display: none;">Unlink DebaterID</button>
			{% endif %}
			<div class="alert alert-success" id="link2Success" style="display: none;">
				The DebaterID was successfully linked. Save your changes below.
			</div>
		</div>

		<div class="col-sm-6">
			<h3>Manual Entry</h3>
			<p>Or: Manually provide the details of a speaker. They will not receive
				updates about the tournament.
			</p>

			<div class="form-group">
				<label for="sp2Name">Full Name</label>
					{% if ist.sp2Key %}
					{{form.sp2Name(class="form-control", id="sp2Name", placeholder="Speaker 2", readonly="true")}}
					{% else %}
					{{form.sp2Name(class="form-control", id="sp2Name", placeholder="Speaker 2")}}
					{%endif%}
			</div>

		</div>
</div>

<div class="panel-footer" style="padding-bottom: 2em;">
	<div class="form-group">
		<div class="col-sm-2">
			<div class="checkbox">
				<label>
					{{form.sp2Novice()}} Novice
				</label>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="checkbox">
				<label>
					{{form.sp2ESL()}} ESL
				</label>
			</div>
		</div>
	</div>
</div>

</div>

			   	<button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
			</form>

	{% else %}

		You need to <a href="{{login}}">sign in</a> with your Google account to register for this tournament.

	{% endif %}


{% endblock %}
